.aminWrapper-sc-design-0 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 9999;
  }
  
  .cirAlign {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100;
    inset: 0;
    display: grid;
    place-items: center;
    background: black;
    opacity: 1;
    animation: loaderOpacity 1.5s linear forwards;
  }
  
  @keyframes loaderOpacity {
    90% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
  }
  
  .revCircle {
    width: clamp(150px, 8vw, 200px);
    height: clamp(150px, 8vw, 200px);
    background: url("/assets/images/Wavy.svg") no-repeat center center / contain;
    position: relative;
    animation: loader 5.5s linear forwards;
  }
  
  @keyframes loader {
    0% {
      transform: rotate(0deg) scale(1);
    }
  
    100% {
      transform: rotate(360deg) scale(15);
    }
  }
  
  .revCircle::after {
    content: "";
    width: clamp(100px, 5vw, 125px);
    height: clamp(100px, 5vw, 125px);
    position: absolute;
    inset: 0;
    margin: auto;
    border-radius: 50%;
    // background-color: #52595a;
    background-color: white;
    animation: loaderAfter 1.5s linear forwards;
  }
  
  @keyframes loaderAfter {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(0.1);
    }
  
    100% {
      transform: scale(15);
    }
  }
  